<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
	  <div class="header-icons">
	          <a aria-label="My Stack-overflow" target="_blank" href="https://stackoverflow.com/users/5140223/rvinas"><i class="icon fa fa-stack-overflow"></i></a>
	          <a aria-label="My Github" target="_blank" href="https://github.com/rvinas"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
	          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/ramon-vinas/"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
	          <a aria-label="Send email" href="mailto:ramon.torne.17@ucl.ac.uk" target="_top"><i class="icon fa fa-envelope"></i></a>
	          <!--<a aria-label="My Twitter" target="_blank" href="#"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
	          <a aria-label="My Google Plus" target="_blank" href="#"><i class="icon fa fa-google-plus" aria-hidden="true"></i></a> -->
	        </div>
	  	  <br/>
	  
	        <div class="header-links">
	          <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
	          <a class="link" href="/cv/17072018.pdf" download>Download CV</a>
	          <!--<a class="link" href="#projects" data-scroll>Projects</a>-->
	        </div>
	  	  <br/>
	  
	  	  <p> I am studying the MSc Degree in Machine Learning at University College London. I am interested in the theoretical foundations of deep learning as well as its applications in science and medicine. My long-term goal is to use machine learning to enhance high-impact scientific and healthcare advances.   </p>
  
	  	  <p>
	  	  I am currently looking for an internship in machine learning. I am <i>not</i> interested in applying machine learning to business or finance.
	  	  </p>
  </div>
  <!-- <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>
